<div class="navbar-wagon">
  <div class="navbar-wagon-items">
    <a href="" class="navbar-wagon-item">Map</a>
    <a href="" class="navbar-wagon-item">Upload</a>
    <a href="" class="navbar-wagon-item">Profile</a>
  </div>
</div>
